#root {
  width: 100%;
  margin: 0 !important;
  height: 100vh !important;  max-height: -webkit-fill-available;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Montserrat';
  /* text-align: center; */
}

body > #root > div {
  height: 100% !important;
  background-color: #212A31;
  width:100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.app__home{
  display: flex;
  flex-direction: column;
  height: inherit;
}

.dock{
  margin-top:auto;
  height: 48px;
  color:white;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  /* position: relative;
  top: -64px; */
}

.msg-bubble {
  margin-top: 16px;
  min-width: 120px;
  max-width: 450px;
  padding: 15px;
  border-radius: 16px;
  background: #ececec;
  color:#212A31
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.msg-info-name {
  margin-right: 16px;
  margin-left: 8px;
  font-weight: normal;
}

.msg-info-time {
  font-size: 0.85em;
}

.left-msg {
  background-color: #2E3944;
  margin-left: 16px;
  color: white;
  align-self: flex-start;
  margin-right: 16px;
  border-bottom-left-radius: 0;
}

.right-msg {
  margin-right: 16px;
  border-bottom-right-radius: 0;
  background-color: #124E66;
  align-self: end;
  margin-left: 16px;
  color: white;
  margin-right: 16px;
}

#msg-input{
  width: 95%;
  height: inherit;
  background-color:  #2E3944;
  padding-left: 16px;
  /* padding-right: 16px; */
  border: 0;
  border-radius: 16px;
  margin-right: 18px;
  font-size: 1em;
}

#send-msg-btn{
  width: 5%;
  height: inherit;
  margin-left: auto;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #2aa7d8;
  border-radius: 100%;
}

.send-icon{
  color:white;
}

.chat-container {
  display: grid;
  margin-bottom: 0.3rem;
  grid-template-rows: 1fr auto; /* Flexible chat area, fixed dock */
  height: inherit; /* Adjust height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  scroll-behavior: smooth;
}

 .chat-container::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   background-color: #F5F5F5;
 }
 
 .chat-container::-webkit-scrollbar
 {
   width: 10px;
   background-color: #F5F5F5;
 }
 
 .chat-container::-webkit-scrollbar-thumb
 {
   background-color: #0ae;
   
   background-image: -webkit-gradient(linear, 0 0, 0 100%,
                      color-stop(.5, rgba(255, 255, 255, .2)),
              color-stop(.5, transparent), to(transparent));
 }

.chat-wrapper {
  display: flex; /* Allow chat components to arrange horizontally */
  flex-direction: column; /* Stack chats vertically */
}

.scorllwidht0{
  scrollbar-width: none;
}

.scorllwidht0{
  scrollbar-width: 10px;
}

.flex-container-sys {
  opacity: 50%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center; /* Vertically center content */
}

.text-content{
  padding-left: 16px;
  padding-right: 16px;
}

.line {
  flex: 0 0 20%; /* Set width to 20% for lines and text */
  height: 0.3px; /* Adjust line height as needed */
  background-color: #ccc; /* Change line color */
  opacity: 70%;
  margin: 0 5px; /* Add margin between lines and text */
  text-align: center; /* Center text within its width */
}
